/* 
.bus-layout-container {
    border: 2px #dddddd solid;
    width: 22rem;
    height: 70vh;
    margin-top: 5rem;
    position: relative;
} */

.detail-header-container {
    height: 5vh;
    background-color: #ED1F28;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
}

.detail-header-content {
    color: #ffffff;
}

.previous-icon {
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    top: 1.6%;
    left: 3%;
    cursor: pointer;
    z-index: 10;
}

.map-container {
    border-bottom: 5px #ED1F28 solid;
    height: 50vh;
    margin-top: 3rem;
}

.location {
    padding: 1rem;
    font-weight: bold;
    color: #121212;
    font-size: 1.4rem;
}

.eta-container {
    margin-left: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.3rem;
}

.eta-time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6rem;
}

.eta-time {
    font-size: 1.3rem;
    color: #1E71BA;
}

.eta-min {
    font-size: 0.8rem;
    margin-left: 0.3rem;
}

.eta-rmk {
    font-size: 1.2rem;
    margin-left: 0.3rem;
    color: #888888
}