.bus-bg-config {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bus-layout-container {
    border: 2px #dddddd solid;
    width: 22rem;
    height: 70vh;
    margin-top: 5rem;
    position: relative;
}

.detail-header-container {
    height: 5vh;
    background-color: #ED1F28;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-header-content {
    color: #ffffff;
}

.previous-icon {
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    top: 1.6%;
    left: 3%;
    cursor: pointer;
}

.map-container {
    border-bottom: 5px #ED1F28 solid;
    height: 40vh;
}

.location {
    padding: 1rem;
    font-weight: bold;
    color: #121212;
}

.eta-container {
    margin-left: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.3rem;
}

.eta-time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6rem;
}

.eta-time {
    font-size: 1.2rem;
    color: #1E71BA;
    /* width: 1.5rem; */
}

.eta-min {
    font-size: 0.1rem;
}

.eta-rmk {
    font-size: 1rem;
    margin-left: 0.2rem;
    color: #888888
}