.bg-config {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-container {
    border: 2px #dddddd solid;
    width: 22rem;
    height: 70vh;
    margin-top: 5rem;
    overflow: auto;
    position: relative;
}

.previous-icon {
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    top: 2%;
    left: 3%;
}

.map-container {
    border-bottom: 5px #ED1F28 solid;
    height: 40vh;
}

.location {
    padding: 1rem;
    font-weight: bold;
    color: #121212;
}