.contact-header-container {
    width: 100%;
    height: 5vh;
    background-color: #ED1F28;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-header-info {
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
}

.contact-info-container {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.contact-info-box {
    width: 20rem;
    height: 23rem;
    border-radius: 20px;
    background-color: #ED1F28;
    padding: 1rem;
}

.contact-info-circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.contact-info-circle {
    width: 10rem;
    height: 10rem;
    background-color: #eeeeee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}

.contact-info-text {
    font-weight: bold;
    color: #fff;
}

.contact-redirect-btn {
    background-color: #ED1F28;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    text-decoration: none;
    color: inherit;
    width: 8.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-redirect-btn:hover {
    background-color: #ED1F28aa;
    transform: scale(1.1);
}


.contact-redirect-home {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff
}