.header-container {
    height: 5vh;
    background-color: #ED1F28;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
}

.info-icon {
    position: absolute;
    right: 1rem;
    top: 0.6rem
}