.loading-image-container {
    width: 22rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-image {
    width: 3rem;
    animation: rotate 2s linear forwards infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #dddddd;
    border-radius: 10rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #ED1F28;
}


.layout-container {
    /* border: 2px #dddddd solid; */
    /* width: 100vw; */
    /* height: 100vh; */
    /* overflow: auto; */

}

.header-banner-div {
    /* width: 100vw;
    height: 7rem; */
    /* position: fixed; */
    display: unset
}

.header-container {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
}



.banner {
    width: 100%;
    /* height: 15rem; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-size: contain; */
    margin-top: 3rem;
}


.current-location-container {
    max-width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ffffff;
    border-bottom: 5px solid #ED1F28;
    position: sticky;
    position: -webkit-sticky;
    top: 2.6rem;
    z-index: 10;
}


.current-location {
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 15rem;
}


.current-location-icon {
    color: #ED1F28;
    margin-right: 1rem;
}

.select-location-icon {
    color: #ED1F28;
    font-size: 1.3rem;
    cursor: pointer;
    transition: filter 300ms;
}

.select-location-icon:hover {
    filter: brightness(5)
}

.select-location-icon-active {
    color: #aaaaaa;
    font-size: 1.3rem;
    cursor: pointer;
}

.dropdown-backdrop {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}

.dropdown-container {
    background-color: #ED1F28;
    color: #fff;
    width: 100%;
    height: 7rem;
    position: absolute;
    top: 1.8rem;
    /* top: 11.55rem; */
    /* left: 0; */
    line-height: 2.5rem;
    transition: all 5s ease-in-out;
    overflow: hidden;
    animation: slideDown 200ms linear forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes slideDown {
    0% {
        transform: translateY(0%);
        height: 0
    }

    25% {
        transform: translateY(5%);
        height: 2rem
    }

    50% {
        transform: translateY(10%);
        height: 4rem
    }

    75% {
        transform: translateY(15%);
        height: 6rem
    }

    100% {
        transform: translateY(20%);
    }
}

.dropdown-info {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
}

.dropdown-info:hover {
    width: 80%;
    outline: 1px solid #fff;
    border-radius: 10px;
}

.kmb-icon {
    width: 3rem;
    position: absolute;
    right: 2%;
    bottom: 0;
}

.bus-list-container {
    margin-top: 1rem;
}

.bus-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-bottom: 0.5px #dddddd solid;
}

.bus-number {
    padding: 0.5rem 1.2rem 0.5rem 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    width: 2.2rem;
}

.destination {
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 0.2rem;
}

.waiting-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px
}

.waiting-time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.waiting-time-number {
    font-size: 1.5rem;
    color: #1E71BA;
}

.waiting-time-minute {
    font-size: 0.1rem;
}

.caution-container {
    width: 1.3rem;
    height: 1.3rem;
    border: 2px #1E71BA solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caution {
    color: #1E71BA;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 5px;
}