.bg-config {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-container {
    border: 1px black solid;
    width: 22rem;
    height: 70vh;
    margin-top: 5rem;
    overflow: auto;
}