.loading-image-container {
    width: 22rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-image {
    width: 3rem;
    animation: rotate 2s linear forwards infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}